.parent-adm {
    display: flex;
  }
  
  .main-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px; /* Adjust the padding as needed */
  }
  
  .Analytics-components {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .Analytics-side {
    display: flex;
    position: sticky;
    z-index: 999;
    left: 0;
    height: auto;
    padding-right: 20px; /* Adjust the padding as needed */
    overflow-y: auto;
  }
  



/* .Analytics-components{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}

.parent-adm{
    display: flex;
   
}

.try{
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

.Analytics-side{
    display:flex;
    position: sticky;
    z-index: 999;
    left: 0;
    height: auto;
} */