.project-analytics {
  display: flex;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

.analytics-components {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 80px;
}

.Analytics-side {
  display: flex;
  position: sticky;
  z-index: 999;
  left: 0;
  height: auto;
  padding-right: 20px;
  overflow-y: auto;
}
.btn-primary {
  margin-top: 15px;
}
