.backandheader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.backandheader h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 30px;
}

.form-style h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 50px;
}

.form-style .back-button {
  position: relative;
  top: -30px;
  left: -480px;
  display: flex;
  align-items: center;
  width: 55px;
}
