.admin-screen {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 130px;
}

.admin-child-screen {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  
}

.admin-read{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
}

.back-button {
  width: 88px;
  height: 32px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: relative;
  left: 16px;
  top: 16px;
  z-index: 1;
}

.back-button:hover {
  background-color: #3f3f3f;
}

.form-display {
  display: flex;
  justify-content: center;
  border: 3px solid #ccc;
  background-color: #f9f9f9;
  padding: 20px;
}

.form-style {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: left;
  padding: 10px;
}

.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-container {
  background-color: #fff;
  padding: 20px;
  z-index: 200;
  opacity: 1;
}
.red-box {
  background-color: red;
}

.white-trash-icon {
  color: white;
}

@media only screen and (max-width: 500px) {
  .form-display {
    border: 1px solid #ccc;
    padding: 10px;
  }

  .table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .table thead,
  .table tbody,
  .table th,
  .table td,
  .table tr {
    display: block;
  }

  .table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table td {
    border: none;
    position: relative;
    padding-left: 10%;
  }

  .table td::before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-column);
    font-weight: bold;
  }
}
