.parent-admi {
  display: flex;
  height: 100vh;
 
  justify-content: center;
 
}

.admin-chil {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-details {
  display: flex;
  align-items: center;
}

.profile-imag {
  margin-right: 20px;
   position: relative;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  background-color:rgb(238, 245, 245);
  box-shadow: 10px 10px 5px #aaaaaa;
}
.edit-button {
  position: absolute;
  top: 20px; 
  right: 20px; 
}

.profile-imag p,.profile-imag b{
 display: flex;
 justify-content: flex-start;
 font-size: 16px;
 font-family: 'Times New Roman', Times, serif;
}
.profile-imag h1{
  font-size: 20px;
  font-family:'Times New Roman', Times, serif ;
}

.profile-chil{
  margin-top: 15%;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-info h2,
.profile-info p {
  margin-bottom: 10px;
}

.profile-containe {
  background-color: transparent;
  height: 100vh;
  border: none;
  box-shadow: none;
}


  




 