/* .form-style {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #9A9CA5;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 100px;
   
  } */
  .form-style {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #9A9CA5;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 100px;
    position:relative;
  }
  /* h1 {
    display: flex;
    align-items: center;
  } */
  
  /* h1 span {
    margin-left: 1rem;
    text-align: left;
  } */
  
  .form-dis{
    /* position: sticky;
    top: 0;
    bottom: 0;
    margin-bottom: 100px; */
    margin-top: 100px;
  }
  .form-style h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .form-style label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  .form-style input,
  .form-style select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .form-style .error-message {
    color: red;
    font-size: 12px;
  }
  .form-style button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  .back-button {
    position: relative;
    top: -30px;
    left:-480px;
    display:flex;
    align-items: center;
    width:55px;
 
  }