.custom-menu-item {
  font-size: 15px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.custom-menu-item:hover,
.custom-menu-item.active {
  background-color: #444;
  color: #ff5733;
}

.sidebar-title{
  margin-right: 90px;
  font-size: 30px;
  text-align: left;
}

.sidebar-icons{
  margin-right: 10px;
}