.faq-sample {
  padding-right: 100px;
  text-align: left;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(22, 22, 124, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 80vh;
}

.faq-question {
  color: #ffffff;
  align-items: left;
}

.faq-answer {
  color: #ffffff;
}
.footer {
  margin-bottom: 50px;
}
