.pm-read-screen {
  display: flex;
  flex-direction: row;
  width: 100%;
}


.pm-child {
  width:80%;
 margin-left: 20%;
  padding: 20px;
}


.pm-read {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 0px;
 
}

.pm-notification{
  margin-top: 80px;
  margin-left: 220px;
}

.show-all-notification{
  margin-top: 80px;
  margin-left: 590px;
  
}
.show-all-notifications{
  margin-top: 10px;
  margin-left: 490px;
  
}

.show-all-notification-button{
  margin-top: 80px;
  margin-left: 590px;
}


.clear-all-notifications{
  padding-left: 270px;
}




.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  width: 400px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-name {
  font-size: 24px;
  color: #ae1f1f;
}

.profile-content {
  text-align: center;
}

.profile-email {
  font-size: 18px;
  color: #af1818;
}


.clear-dialog-box {
 
  display: flex;
  padding: 5px;
  position: relative;
  left: auto;
  top: 140px;
  height: auto;

 
}
